.jumbotron {
    background: url("../../jumbotron.jpeg");
    background-size: cover;
    background-position: top;
    border: 2px solid orangered;
    height: 100%;
    width: 100%; 
}

.custom {
  cursor: url(icons8-jack-o\'-lantern-48.png), auto;
}