a:hover { 
    color: orangered;
}

.link {
    color: white;
    float: right;
    font-family: 'Creepster', cursive;
    font-size: 30pt;
    opacity: 0.85;
}

.navbar-brand {
    font-family: 'Creepster', cursive;
    font-size: 30pt;
    opacity: 0.85;
}